<<<<<<< HEAD
body,h1,h2,h3,h4,h5,h6,li{
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
=======
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
>>>>>>> 8ea1e8e262235ff517d466cee3930c8eb6c275fc
